<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>870420901218-pq4d2107uimtbcm1le3e250pgehgor3m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870420901218-pq4d2107uimtbcm1le3e250pgehgor3m</string>
	<key>API_KEY</key>
	<string>AIzaSyBvpb75co2ehXH-qG420MrwPhhZbmqJRVM</string>
	<key>GCM_SENDER_ID</key>
	<string>870420901218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TM.GetAroundUVT</string>
	<key>PROJECT_ID</key>
	<string>getarounduvt</string>
	<key>STORAGE_BUCKET</key>
	<string>getarounduvt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870420901218:ios:c3dd130bf802abae2f503b</string>
	<key>DATABASE_URL</key>
	<string>https://getarounduvt-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>